---
import DashboardLayout from '../layouts/DashboardLayout.astro';
import ResultsList from '../components/exam/ResultsList';
---

<DashboardLayout title="Exam Results">
  <div class="max-w-[1200px] mx-auto w-full pb-10">
    <ResultsList client:only="react" />
  </div>
</DashboardLayout>
